[submodule "auxiliary/capstats"]
	path = auxiliary/capstats
	url = https://github.com/zeek/capstats
[submodule "auxiliary/pysubnettree"]
	path = auxiliary/pysubnettree
	url = https://github.com/zeek/pysubnettree
[submodule "auxiliary/trace-summary"]
	path = auxiliary/trace-summary
	url = https://github.com/zeek/trace-summary
[submodule "cmake"]
	path = cmake
	url = https://github.com/zeek/cmake
